<% provide(:title, @user.name) %>
<div>
  <table class="table table-bordered table-condensed user-table">
    <td><%= l(@first_day, format: :middle) %>時間管理表</td>
    <td>指定勤務開始時間:<%= format_basic_info(@user.designated_work_start_time) %>
      <br>指定勤務終了時間:<%= format_basic_info(@user.designated_work_end_time) %>
    </td>
      
      <td colspan="3">基本時間：<%= format_basic_info(@user.basic_time) %></td>
      <td>初日：<%= l(@first_day, format: :short) %></td>
    </tr>
    <tr>
      <td>所属：<%= @user.department.present? ? @user.department : "未所属" %></td>
      <td>名前：<%= @user.name %></td>
      <td>コード：</td>                     
      <td>0<%= @user.id %></td>
      <td>出勤日数：<%= @worked_sum %>日</td>                 
      <td>締め：<%= l(@last_day, format: :short) %></td>
    </tr>                
  </table>            
</div>	             

<div>
 <table class="table table-bordered table-condensed table-hover" id="table-attendances">	
    <thead>
     <tr>	
       <th rowspan="3", class="button">残業申請</th>
       <th rowspan="3">日付</th>
       <th rowspan="3">曜日</th>
       <th colspan="7">【実績】</th>
       <th colspan="5">所定外勤務</th>
     </tr>　　　　
  
     <tr>
       <th colspan="3">出社</th>
       <th colspan="2">退社</th>
       <th rowspan="2">在社時間</th>	
       <th rowspan="2">備考</th>	
       <th colspan="2">終了予定時間</th>	
       <th rowspan="2">時間外時間</th>	
       <th rowspan="2">業務処理内容</th>	
       <th rowspan="2">指示者確認㊞</th>	
     </tr>	
     <tr>
       <th>時</th>
       <th>分</th>
       <th></th>
       <th>時</th>
       <th>分</th>　　
       <th>時</th>
       <th>分</th>
      </tr>　　　
    </thead>
    <tbody>
      <% @attendances.each do |day| %>
        <tr>
          <td></td>
          <td><%= l(day.worked_on, format: :short) %></td>
          <td class="<%= "wday#{day.worked_on.wday}" %>"><%= $days_of_the_week[day.worked_on.wday] %></td>
          <% if day.started_edit_at.nil? || day.indicater_select == "否認" %>
            <td class="col-sm-2"><%= l(day.started_at.floor_to(15.minutes), format: :hour) if day.started_at.present? %></td>
            <td class="col-sm-2"><%= l(day.started_at.floor_to(15.minutes), format: :minutes) if day.started_at.present? %></td>
          <% else %>
            <td class="col-sm-2"><%= l(day.started_edit_at.floor_to(15.minutes), format: :hour) %></td>
            <td class="col-sm-2"><%= l(day.started_edit_at.floor_to(15.minutes), format: :minutes) %></td>
          <% end %>
          <% if current_user == @user %>
            <td>
              <% if btn_text = attendance_state(day) %>
                <%= link_to "#{btn_text}", user_attendance_path(@user, day), method: :patch, class: "btn btn-primary btn-attendance" %>
              <% end %>
            </td>
          <% else %>
            <td></td>
          <% end %>  
          <% if day.finished_edit_at.nil? || day.indicater_select == "否認" %>
            <td class="col-sm-2"><%= l(day.finished_at.floor_to(15.minutes), format: :hour) if day.finished_at.present? %></td>
            <td class="col-sm-2"><%= l(day.finished_at.floor_to(15.minutes), format: :minutes) if day.finished_at.present? %></td>
          <% else %>
            <td class="col-sm-2"><%= l(day.finished_edit_at.floor_to(15.minutes), format: :hour) %></td>
            <td class="col-sm-2"><%= l(day.finished_edit_at.floor_to(15.minutes), format: :minutes) %></td>
          <% end %>  
          <td>
            <% if day.started_at.present? && day.finished_at.present? %>
              <% if day.started_edit_at.present? || day.finished_edit_at.present? %>
                <% day.started_at = day.started_edit_at %>
                <% day.finished_at = day.finished_edit_at %>
              <% end %>
              <%= str_times = working_times(day.started_at, day.finished_at) %>
              <% @total_working_times = @total_working_times.to_f + str_times.to_f %>
            <% end %>
          </td>
          <td><%= day.note %></td>
          <td><%= l(day.overtime_finished_at, format: :hour) if day.overtime_finished_at.present? %></td>
          <td><%= l(day.overtime_finished_at.floor_to(15.minutes), format: :minutes) if day.overtime_finished_at.present? %></td>
          <td><%= overtime_calculation(day.overtime_finished_at, @user.designated_work_end_time, day.tomorrow) if day.overtime_finished_at.present? %></td>
          <td><%= day.business_process_content if day.business_process_content.present? %></td>
          <td class="result">
            <% if day.indicater_reply == "申請中" %>
              <%= "#{day.indicater_check}へ残業#{day.indicater_reply}" %><br>
            <% elsif (day.indicater_reply == "承認") || (day.indicater_reply == "否認") %>
              <%= "#{day.indicater_check}より残業#{day.indicater_reply}" %><br>
            <% end %>
           
            <% if day.indicater_select == "申請中" %>
              <%= "#{day.indicater_request}へ勤怠変更申請中" %>
            <% elsif (day.indicater_select == "承認") || (day.indicater_select == "否認") %>
              <%= "#{day.indicater_request}より勤怠変更#{day.indicater_select}" %>
            <% end %>  
          </td>
        </tr>
      <% end %>
    </tbody>
    
    <tfoot>
      <!--rowspan:縦結合、colspan：横結合-->
      <tr>
        <td colspan="2">累計日数</td>
        <td colspan="6">総合勤務時間</td>
        <td colspan="1">累計在社時間</td>
        <td rowspan="2"></td>
        <td rowspan="2"></td>
        <td rowspan="2"></td> 
        <td rowspan="2"></td>
        <td rowspan="2", colspan="2">
         <% day = @user.attendances.find_by(worked_on: @first_day) %>
          <% if day.one_month_request_superior.present? %>
            所属長承認㊞  <%= "#{day.one_month_request_superior}へ#{day.one_month_approval_status}" %><br>
          <% else %>
            所属長承認㊞ 未
          <% end %>
        </td>
        </td>
      </tr>
      <tr>
        <td colspan="2"><%= @attendances.count %></td>
        <td colspan="6"><%= format_basic_info(@user.work_time).to_f * @worked_sum %></td>
        <td><%= format("%.2f", @total_working_times.to_f) %></td>
      </tr>
    </tfoot> 
  </table>	
</div>   

<div id= "edit-overtime-request" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id= "edit-overtime-notice" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id= "edit-month_approval" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id= "edit-month_change" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>




