<h1>勤怠ログ</h1>
【勤怠修正ログ】

 <div class="row form-group">
    <div class="col-md-2" id="search-attendance-log">
      <%= form_with model: @attendance, url: attendances_edit_log_user_path, id: "form_edit_log", method: :get, remote: true do |f|  %>
        <%= f.month_field(:worked_on, required: true, class: "form-control") %>
        <%= f.button "検索", id: "btn_edit_log", class: " btn-primary search-btn form-control" %>
      <% end %>
    </div>
    
    <script>
      $(function() {
        $('#btn_edit_log').click(function() {
          
        $('#form_edit_log').submit();
        })
      })
    </script>
    
<table class="table table-bordered">
  <thead>
    <tr>
      <th>日付</th>
      <th>変更前出社時間</th>
      <th>変更前退社時間</th>
      <th>変更後出社</th>
      <th>変更後退社</th>
      <th>承認者</th>
      <th>承認日</th>
    </tr>
  </thead>
  <tbody>
    <% if @indicater_select_approval.present? %>
      <% @indicater_select_approval.each do |day| %>
        <tr>
          <th><%= l(day.worked_on, format: :short) %></th>
          <th><%= l(day.started_before_at, format: :time) if day.started_before_at.present? %></th>
          <th><%= l(day.finished_before_at, format: :time) if day.finished_before_at.present? %></th>
          <th><%= l(day.started_edit_at, format: :time) if day.started_edit_at.present? %></th>
          <th><%= l(day.finished_edit_at, format: :time) if day.finished_edit_at.present? %></th>
          <th><%= day.indicater_request %></th>
          <td><%= day.updated_at.strftime("%Y年%m月%d日") %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>